
html {
  scroll-behavior: smooth;
}
body {
    font-family: "poppins";
    font-size: 16px;
    color: #585858;
    --main-color: #2196f3;
    background-color: #f9ffff;
}
a {
  text-decoration: none;
}

/*  Notes: 1. ids added in order to overwrite bootstrap properties */

/* ===== Navigation bar menu ===== */
#full-menu {
    box-shadow: 0 5px 5px -6px #777;
}
.container-fluid {
    padding: 10px 15px 0 15px;
}

#anchorFormat {
    text-decoration: none;
    font-family: "Exo";
    font-size: 16px;
    color: rgba(34, 54, 69, .7);
    font-weight: 600;
    padding-left: 15px;
}

#anchorFormat:hover {
    color: #e74c3c;
}
#arabic-toggler:hover {
    color: #e74c3c;
}
#arabic-toggler {
    font-weight: 600;
    font-family: "IBM Plex Sans Arabic"; 
}
#dropdownChange {
    font-size: 15px;
}
#menu-logo {
    position: absolute;
    top:0px;
    height:70px;
}
ul {
    list-style-type: none;
}
.navbar .navbar-band a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}


/* ===== Hero Section===== */
section {
  margin-top: 100px;
}
.hero-part{
    background-color: #f8f8f8;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    padding: 30px;
}
.prayerArticle {
  text-align: left;
}


/* from copy */

.searchform input[type=search] {
  padding: 8px;
  width: 100%;
  max-width: 1000px;
  font-size: 18px;
  margin: 5px;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 5px;
  z-index: 100;
}
.searchform .myLocation,
.search-city {
  cursor: pointer;
  padding: 5px 15px;
  color: #FFFFFF;
  font-weight: 600;
  background: #009688;
  border: 2px solid #009688;
  border-radius: 5px;
  min-width: 130px;
  margin: 10px 0 0 10px;
}

.location-name {
  text-align: left;
}
.location-name a {
  color: #585858;
}

.subpath, .local {
  font-weight: 500;
}
.subpath span, .local {
  color: rgb(21, 52, 153);
}
time {
  color: #ff5722;
}
.todaynextprayer {
  margin-top: 20px;
}

.todaynextprayer .col {
  line-height: 1;
  padding: 20px 10px;
}
.todaynextprayer .remainingTime {
  background-color:#00A79D;
  font-weight: 600;
  border-radius: 6px;
}
.todaynextprayer .nextPlayerName {
  font-size: 30px;
}
.todaynextprayer .remainingTime #countdown {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 10px;
}
.todayprayer {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.todayprayer .onprayer {
  text-align: center;
  padding: 5px 0;
  border: 1px solid #00A79D;
  border-width: 5px 1px;
  margin: 30px 5px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 79px;
  flex: 1 1 79px;
  border-radius: 10px;
}

.todayprayer .nextprayer {
  background-color: #edffdd !important;
  font-weight: bold;
}

.todayprayer .icon {
  margin: 5px auto 0;
  display: block;
}

.prayersettings {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.citySettings {
  padding-top: 20px;
}
.citySettings button {
  background: #009688;
  border: 2px solid #009688;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}


/* ===========done==================== */


.lithird {
  margin-top: 20px;
  text-align: center;
  list-style: none;
}

.lithird li {
  width: 24%;
  float: left;
  padding: 5px;
  text-align: left;
}
.lithird.major li {
  width: 16.5%;
}
.lithird li a {
  font-size: 16px;
}
.lithird li a:before {
  color: #567c00;
  content: "\2735";
  font-weight: bold;
  padding-right: 5px;
}
.lithird li span {
  color: #777;
  font-size: 14px;
  font-weight: 300;
}
.lithird li:hover {
  text-decoration: underline;
}

.blockHighLight {
  margin-top: 10px;
  color: #555555;
  padding: 19.2px 30px;
  border-left: 4px solid  #009688;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

blockquote {
  color: #555555;
  padding: 19.2px 50px 19.2px 30px;
  border-right: 4px solid #009688;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
  font-size: 18px;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #009688;
  font-size: 64px;
  position: absolute;
  right: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

blockquote span.by {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 16px;
  text-align: left;
}
.subpath {
  font-size: 14px;
}
.subpath span {
  color: rgb(113 149 73);
}
.trans {
  padding: 20px;
  text-align: justify;
}

.todayHadith .reference {
  font-size: 12px;
  color: #585858;
}

.trans ul li {
  list-style: inside !important;
}

.clear {
  clear: both;
}

.world h2 {
  padding-bottom: 5px;
}

.world ul li {
  float: left;
  width: 260px;
  text-align: left;
  padding: 2px 0;
}
.world ul li a:hover {
  text-decoration: underline;
}

span.flag {
  width: 22px;
  height: 15px;
  display: inline-block;
  border: 1px solid #5053f4;
  border-radius: 2px;
}

img.flag {
  width: 30px;
}

.flag {
  background: url("images/country_flags.webp") no-repeat;
  background-size: 100%;
}


/* Media Query section */

@media only screen and (max-width: 1038px) {
  .lithird li {
      width: 49%;
  }
  .lithird.major li {
      width: 19.5%;
  }
}
@media (max-width: 800px) {
  .prayersettings {
      flex-direction: column;
      text-align: left;
  }

  .prayersettings div {
      border-bottom: 1px solid #c3e497;
  }

  .citySettings button {
      display: block;
      width: 100%;
      font-size: 20px;
      padding: 10px;
  }

  .todaynextprayer .col {
      max-width: none;
      padding: 10px;
  }
  .lithird.major li {
      width: 24.5%;
  }
}

@media only screen and (max-width: 767px) {
  .searchform input[type=search] {
    padding: 5px 5px;
    font-size: 14px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    margin: 5px 0 1px;
  }

.searchform .myLocation,
.search-city {
  padding: 1px 5px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  min-width: 80px;
  margin-top: 5px;    /* on the full is 10px */
}
.searchform {
  padding-top: 5px 0 0 ;
  margin: 0;
}
.hero-part{
  background-color: #f8f8f8;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 8px;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
}


@media only screen and (max-width: 480px) {
  .lithird li {
      float: none;
      display: block;
      width: 100%;
  }

  .lithird.major li {
      float: left;
      width: 48.5%;
  }
  .world ul li {
      padding: 5px;
      float: none;
      border-bottom: 1px solid #f5f5f5;
      width: auto;
  }
}


/* Start Footer */

.footer {
  background-color: #191919;
  padding: 50px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;  

}
.footer-logo {
  height: 150px;
  padding-left: 35px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 350px;
  margin: 2px;
}
@media (max-width: 767px) {
  .footer .footer-gallery img {
    width: 250px;
    margin: 2px;
  }
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 30px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */

